.content {
  background-color: var(--rt-color-bg-secondary);
  color: var(--rt-color-text-default);
  z-index: 50;
  min-width: var(--rt-width-128);
  border-radius: var(--rt-radius-md);
  border-width: var(--rt-width-border-default);
  padding: var(--rt-padding-xs);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: var(--radix-dropdown-menu-content-available-height);
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);
}

.content[data-state='open'] {
  animation:
    fadeIn 0.2s ease-out,
    zoomIn 0.2s ease-out;
}

.content[data-state='closed'] {
  animation:
    fadeOut 0.2s ease-out,
    zoomOut 0.2s ease-out;
}

.content[data-side='bottom'] {
  animation: slideInFromTop 0.2s ease-out;
}

.content[data-side='left'] {
  animation: slideInFromRight 0.2s ease-out;
}

.content[data-side='right'] {
  animation: slideInFromLeft 0.2s ease-out;
}

.content[data-side='top'] {
  animation: slideInFromBottom 0.2s ease-out;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--rt-gap-md);
  padding: var(--rt-padding-sm) var(--rt-padding-md);
  font-size: var(--rt-font-size-2);
  border-radius: var(--rt-radius-sm);
  cursor: default;
  outline: none;
  user-select: none;
}

.item:focus {
  background-color: var(--rt-color-bg-accent);
  color: var(--rt-color-text-accent-contrast);
}

.item[data-disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.item[data-variant='destructive'] {
  color: var(--rt-color-text-error);
}

.item[data-variant='destructive']:focus {
  background-color: var(--rt-color-bg-error);
  color: var(--rt-color-text-error-contrast);
}

.checkboxItem {
  composes: item;
}

.checkboxItemIndicator {
  pointer-events: none;
  display: flex;
  width: var(--rt-width-16);
  height: var(--rt-height-16);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: var(--rt-dimension-8);
}

.radioItem {
  composes: item;
}

.radioItemIndicator {
  pointer-events: none;
  display: flex;
  width: var(--rt-width-8);
  height: var(--rt-height-8);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: var(--rt-dimension-8);
}

.label {
  padding: var(--rt-padding-sm) var(--rt-padding-md);
  font-size: var(--rt-font-size-1);
  line-height: var(--rt-line-height-1);
  font-weight: var(--rt-font-weight-bold);
  color: var(--rt-color-text-secondary);
}

.label[data-inset] {
  padding-left: var(--rt-dimension-16);
}

.separator {
  height: var(--rt-height-1);
  background-color: var(--rt-color-border-default);
  margin: var(--rt-dimension-4) -var(--rt-dimension-4);
}

.shortcut {
  margin-left: auto;
  font-size: var(--rt-font-size-2);
  letter-spacing: 0.05em;
  color: var(--rt-color-text-secondary);
}

.subTrigger {
  composes: item;
}

.subTrigger[data-state='open'] {
  background-color: var(--rt-color-bg-accent);
  color: var(--rt-color-text-accent-contrast);
}

.subTrigger svg {
  margin-left: auto;
}

.subContent {
  composes: content;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-0.5rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(0.5rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-0.5rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(0);
  }
}
